<?xml version="1.0"?>
<launch>


<node pkg="tf" type="static_transform_publisher" name="static_trasformer" args=" 0.2 0 0.2 0 0 0 1 base_link scan 100" />

<node name="pioneer2" pkg="rosaria" type="RosAria">
  <param name ="port" value="/dev/ttyUSB0"/>
  <param name ="debug_aria" value="false" />
  <param name ="odom_frame" value="odom"/>
 </node>

<include file="$(find sicktoolbox_wrapper)/launch/lms200.launch" />
 </launch> 
